@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 15px;
  background-color: #fbfafe;
}

.nav .nav__title {
  font-family: 'Josefin Sans';
  font-weight: 500;
}

.nav .nav__title a {
  color: #000;
  font-size: 20px;
}

.nav .nav__title a span {
  color: #794cff;
}

.nav .nav__links {
  display: none;
}

.nav .nav__button {
  display: none;
}

.nav .nav__hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .nav__hamburger img {
  width: 24px;
  height: 16px;
  margin-bottom: 8px;
  cursor: pointer;
}

.nav .nav__hamburger p {
  text-transform: uppercase;
  font-size: 8px;
}

@media screen and (min-width: 1023px) {
  .nav .nav__hamburger {
    display: none;
  }
}

@media screen and (min-width: 1023px) {
  .nav {
    margin: 48px 165px;
    background-color: #fff;
  }
  .nav .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav .nav__links li {
    margin: 0 20px;
  }
  .nav .nav__links li a {
    text-transform: capitalize;
    color: #000;
  }
  .nav .nav__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav .nav__button :first-child {
    background-color: #fff;
    border: none;
    margin-right: 16px;
    cursor: pointer;
  }
  .nav .nav__button :last-child {
    background-color: #ece5ff;
    color: #794cff;
    border: 1px solid #ece5ff;
    border-radius: 4px;
    padding: 16px 24px;
    cursor: pointer;
  }
  .nav .nav__hamburger {
    display: none;
  }
}

.footer {
  background-color: #1d2830;
}

.footer .footer__section {
  padding: 48px 46px 57px 46px;
}

@media screen and (min-width: 1023px) {
  .footer .footer__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 80px;
  }
}

.footermenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footermenu .footermenu__summary p {
  color: #fff;
  margin-bottom: 32px;
}

.footermenu .footermenu__summary a {
  color: #fff;
  display: none;
}

.footermenu .footermenu__apps p {
  color: #fff;
  margin-bottom: 16px;
}

.footermenu .footermenu__apps a img {
  width: 168px;
  height: auto;
  margin-bottom: 17px;
}

@media screen and (min-width: 1023px) {
  .footermenu .footermenu__summary p {
    font-family: 'Inter';
    font-weight: bold;
    margin-bottom: 24px;
  }
  .footermenu .footermenu__summary a {
    display: block;
    font-family: 'Inter';
    margin-bottom: 24px;
  }
  .footermenu .footermenu__apps p {
    margin-bottom: 24px;
    font-weight: 600;
  }
  .footermenu .footermenu__apps a {
    margin: 0 0 0 16px;
  }
  .footermenu .footermenu__apps a img {
    width: 180px;
    height: auto;
  }
}

hr {
  opacity: 0.1;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright .copyright__text {
  color: #d9dbe1;
  padding: 32px 47px;
}

.copyright .copyright__socialmedia {
  display: none;
}

@media screen and (min-width: 1023px) {
  .copyright {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .copyright .copyright__socialmedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .copyright .copyright__socialmedia a {
    margin-left: 24px;
    height: 32px;
    width: 32px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.herobanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, #fbfafe), to(#fbfafe));
  background: linear-gradient(0deg, white 0%, #fbfafe 50%, #fbfafe 100%);
}

.herobanner .herobanner__links {
  margin-top: 34px;
}

.herobanner .herobanner__links :first-child {
  display: none;
}

.herobanner .herobanner__links :last-child {
  font-family: 'Inter';
  font-size: 13px;
  color: #35414b;
  background-color: #f2f9eb;
  padding: 4px 16px;
  border: 1px solid #f2f9eb;
  border-radius: 100px;
  cursor: pointer;
}

.herobanner .herobanner__title {
  margin-top: 16px;
  text-align: center;
  width: 318px;
}

.herobanner .herobanner__title h1 {
  margin: 0 auto;
  font-family: 'Inter';
  color: #35414b;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}

.herobanner .herobanner__title p {
  margin-top: 16px;
  font-family: 'Inter';
  color: #4e5a65;
  font-size: 16px;
  line-height: 24px;
}

.herobanner .herobanner__email {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.herobanner .herobanner__email input {
  width: 318px;
  height: 52px;
  border-radius: 4px;
  border: 1px solid #e1e5ea;
  font-family: 'Inter';
  font-size: 16px;
  color: #97a5b5;
  text-align: center;
}

.herobanner .herobanner__email button {
  margin-top: 8px;
  width: 318px;
  height: 52px;
  background-color: #796eff;
  border-radius: 4px;
  border: 1px solid #796eff;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.herobanner .herobanner__image {
  margin-top: 32px;
  width: 384px;
  height: auto;
}

.herobanner .herobanner__box {
  margin: 57px auto;
  width: 100%;
}

.herobanner .herobanner__box p {
  font-family: 'Inter';
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
}

.herobanner .herobanner__box p span {
  font-weight: bold;
}

.herobanner .herobanner__box nav {
  margin: 16px 49px 0 49px;
}

.herobanner .herobanner__box nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.herobanner .herobanner__box nav ul li:nth-child(9) {
  display: none;
}

.herobanner .herobanner__box nav ul li:nth-of-type(even) {
  display: none;
}

.herobanner .herobanner__box nav ul img {
  width: 56px;
  height: auto;
}

@media screen and (min-width: 1023px) {
  .herobanner {
    background: #fff;
  }
  .herobanner .herobanner__links {
    margin-top: 0;
  }
  .herobanner .herobanner__links :first-child {
    display: inline;
    font-family: 'Inter';
    font-size: 13px;
    color: #fff;
    background-color: #81c43b;
    padding: 4px 16px;
    border: 1px solid #81c43b;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    left: 10px;
  }
  .herobanner .herobanner__links :last-child {
    font-family: 'Inter';
    font-size: 13px;
    color: #35414b;
    background-color: #f2f9eb;
    padding: 4px 16px;
    border: 1px solid #f2f9eb;
    border-radius: 0 100px 100px 0;
    cursor: pointer;
  }
  .herobanner .herobanner__title {
    margin-top: 24px;
    text-align: center;
    width: 760px;
  }
  .herobanner .herobanner__title h1 {
    margin: 0 auto;
    font-family: 'Inter';
    color: #35414b;
    font-size: 63px;
    line-height: 72px;
  }
  .herobanner .herobanner__title p {
    margin: 24px auto 0 auto;
    width: 510px;
    font-family: 'Inter';
    color: #4e5a65;
    font-size: 16px;
  }
  .herobanner .herobanner__email {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .herobanner .herobanner__email input {
    width: 319px;
    height: 52px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #e1e5ea;
    font-family: 'Inter';
    font-size: 16px;
    color: #97a5b5;
    text-align: left;
    padding-left: 24px;
  }
  .herobanner .herobanner__email button {
    margin-top: 0px;
    width: 164px;
    height: 52px;
    background-color: #794cff;
    border-radius: 0 4px 4px 0;
    border: 1px solid #794cff;
    font-family: 'Inter';
    font-size: 16px;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
  .herobanner .herobanner__image {
    margin-top: 48px;
    width: 920px;
    height: auto;
  }
  .herobanner .herobanner__box {
    margin: 101px auto;
    width: 100%;
  }
  .herobanner .herobanner__box p {
    font-family: 'Inter';
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
  }
  .herobanner .herobanner__box p span {
    font-weight: bold;
  }
  .herobanner .herobanner__box nav {
    margin: 26px 251px 0 251px;
  }
  .herobanner .herobanner__box nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .herobanner .herobanner__box nav ul li:nth-child(9) {
    display: block;
  }
  .herobanner .herobanner__box nav ul li:nth-of-type(even) {
    display: none;
  }
  .herobanner .herobanner__box nav ul img {
    width: 80px;
    height: auto;
  }
}

.product {
  background-color: #fbfafe;
  border: 1px solid #f0ebfa;
  padding-top: 33px;
  width: 100%;
}

.product img {
  display: block;
  width: 384px;
  height: auto;
  margin: 0 auto;
}

.product__details {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__details--cards {
  width: 384px;
  border-bottom: 1px solid #f0ebfa;
  text-align: center;
}

.product__details--cards:first-child {
  background-color: #f6f3fc;
  border-radius: 10px 10px 0 0;
  border-bottom: 8px solid #794cff;
}

.product__details--cards:last-child {
  border-bottom: none;
}

.product__details--cards h3 {
  margin-top: 18px;
  font-size: 18px;
  color: #35414b;
  font-family: 'Inter';
  font-weight: 600;
}

.product__details--cards p {
  margin: 10px auto 0 auto;
  font-size: 16px;
  color: #4e5a65;
  margin-bottom: 26px;
  width: 308px;
  font-family: 'Inter';
  text-align: center;
  line-height: 24px;
}

@media screen and (min-width: 1023px) {
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 61px 0;
    border: 1px solid #f0ebfa;
  }
  .product img {
    width: 657px;
    height: auto;
    margin: 0;
  }
  .product__details {
    margin: 0;
  }
  .product__details--cards {
    width: 372px;
    height: 128px;
    text-align: left;
    padding-left: 32px;
  }
  .product__details--cards:first-child {
    border-radius: 0 10px 10px 0;
    border-left: 8px solid #794cff;
    border-bottom: none;
  }
  .product__details--cards h3 {
    margin-top: 26px;
  }
  .product__details--cards p {
    margin: 10px 0 26px 0;
    text-align: left;
  }
}

.feature {
  margin: 56px auto;
}

.feature .feature__title {
  font-size: 18px;
  font-family: 'Inter';
  color: #35414b;
  text-align: center;
  font-weight: 600;
}

.feature .feature__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feature .feature__container--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature .feature__container--box img {
  margin-top: 40px;
  width: 48px;
  height: auto;
}

.feature .feature__container--box h3 {
  margin-top: 16px;
  font-family: 'Inter';
  font-size: 18px;
  color: #35414b;
  font-weight: 600;
}

.feature .feature__container--box p {
  margin-top: 8px;
  width: 320px;
  font-family: 'Inter';
  font-size: 16px;
  color: #4e5a65;
  text-align: center;
  line-height: 24px;
}

.feature .feature__container--box:nth-of-type(1n+4) {
  display: none;
}

.feature .feature__container button {
  margin: 40px auto 0 auto;
  font-family: 'Inter';
  font-size: 16px;
  color: #794cff;
  background-color: #ece5ff;
  border: 1px solid #ece5ff;
  border-radius: 4px;
  padding: 18px 0;
  width: 318px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (min-width: 1023px) {
  .feature {
    margin: 100px auto;
  }
  .feature .feature__title {
    font-size: 40px;
  }
  .feature .feature__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 56px 167px 0 167px;
  }
  .feature .feature__container--box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .feature .feature__container--box img {
    margin-top: 0;
    width: 64px;
    height: auto;
    text-align: left;
  }
  .feature .feature__container--box h3 {
    margin-top: 16px;
    font-family: 'Inter';
    font-size: 18px;
    color: #35414b;
    font-weight: 600;
  }
  .feature .feature__container--box p {
    margin-top: 8px;
    width: 320px;
    font-family: 'Inter';
    font-size: 16px;
    color: #4e5a65;
    text-align: left;
    line-height: 24px;
  }
  .feature .feature__container--box:nth-of-type(1n+4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 80px;
  }
  .feature .feature__container button {
    display: none;
  }
}

.teams {
  background-color: #fbfafe;
  border: 1px solid #f0ebfa;
  padding: 32px 0;
}

.teams img {
  display: block;
  width: 384px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.teams .teams__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.teams .teams__text h2 {
  margin-top: 27px;
  width: 156px;
  font-family: 'Inter';
  font-size: 18px;
  color: #35414b;
  text-align: center;
  line-height: 24px;
  font-weight: 600;
}

.teams .teams__text p {
  margin-top: 16px;
  width: 322px;
  font-family: 'Inter';
  font-size: 16px;
  color: #4e5a65;
  text-align: center;
  line-height: 24px;
}

.teams .teams__text button {
  margin-top: 16px;
  font-family: 'Inter';
  font-size: 16px;
  color: #fff;
  background-color: #796eff;
  border: 1px solid #ece5ff;
  border-radius: 4px;
  padding: 18px 0;
  width: 318px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (min-width: 1023px) {
  .teams {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 67px auto;
  }
  .teams img {
    display: block;
    width: 596px;
    height: auto;
  }
  .teams .teams__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
  }
  .teams .teams__text h2 {
    width: 341px;
    font-size: 40px;
    color: #35414b;
    text-align: left;
    line-height: 48px;
  }
  .teams .teams__text p {
    width: 413px;
    text-align: left;
  }
  .teams .teams__text button {
    width: 164px;
  }
}

.customers {
  margin: 56px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.customers__title {
  font-family: 'Inter';
  font-size: 18px;
  color: #35414b;
  font-weight: 600;
  line-height: 24px;
  width: 250px;
  text-align: center;
}

.customers__text {
  margin-top: 40px;
  font-family: 'Inter';
  font-size: 16px;
  color: #4e5a65;
  text-align: center;
  width: 336px;
  line-height: 32px;
}

.customers__container {
  margin-top: 40px;
}

.customers__container--people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers__container--people img {
  width: 48px;
  height: auto;
}

.customers__container--people div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers__container--people div h4 {
  margin-top: 9px;
  font-family: 'Inter';
  font-size: 13px;
  font-weight: 600;
}

.customers__container--people div p {
  margin-top: 8px;
  font-family: 'Inter';
  font-size: 13px;
}

.customers__container--people:nth-of-type(1n+2) {
  display: none;
}

@media screen and (min-width: 1023px) {
  .customers {
    margin: 100px auto;
  }
  .customers__title {
    font-size: 40px;
    line-height: 48px;
    width: 394px;
  }
  .customers__text {
    margin-top: 40px;
    font-size: 18px;
    width: 478px;
    line-height: 32px;
  }
  .customers__container {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .customers__container--people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 24px;
  }
  .customers__container--people:first-child {
    border-top: 4px solid #000;
  }
  .customers__container--people img {
    width: 48px;
    height: auto;
    margin-right: 16px;
  }
  .customers__container--people div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 48px;
  }
  .customers__container--people div h4 {
    margin-top: 0;
    font-size: 16px;
  }
  .customers__container--people div p {
    margin-top: 0;
    font-size: 16px;
  }
  .customers__container--people:nth-of-type(1n+2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.lastbanner {
  width: 100%;
  height: 292px;
  margin: 0 auto;
  background-color: #796eff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.lastbanner h2 {
  width: 322px;
  font-family: 'Inter';
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}

.lastbanner .lastbanner__apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lastbanner .lastbanner__apps img {
  width: 180px;
  height: auto;
  margin: 5px 0 5px 0;
}

@media screen and (min-width: 1023px) {
  .lastbanner {
    width: 1110px;
    height: 224px;
    margin: 100px auto;
    border-radius: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .lastbanner h2 {
    width: 423px;
    font-size: 30px;
    text-align: left;
  }
  .lastbanner .lastbanner__apps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .lastbanner .lastbanner__apps img {
    width: 180px;
    height: auto;
    margin-right: 25px;
  }
}
/*# sourceMappingURL=main.css.map */