@import 'components/fonts';
@import 'components/mixins';
@import 'components/variables';

@import 'parts/header';
@import 'parts/footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

// section 1 start 

.herobanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $linearBackground;

    & &__links {
        margin-top: 34px;

        & :first-child {
            display: none;
        }

        & :last-child {
            font-family: 'Inter';
            font-size: 13px;
            color: $primaryColor;
            background-color: $getAccButton;
            padding: 4px 16px;
            border: 1px solid $getAccButton;
            border-radius: 100px;
            cursor: pointer;
        }
    }

    & &__title {
        margin-top: 16px;
        text-align: center;
        width: 318px;

        & h1 {
            margin: 0 auto;
            font-family: 'Inter';
            color: $primaryColor;
            font-size: $smallTitleDSize;
            line-height: 40px;
            font-weight: 600;
        }

        & p {
            margin-top: 16px;
            font-family: 'Inter';
            color: $secondaryColor;
            font-size: $primarySize;
            line-height: 24px;
        }
    }

    & &__email {
        margin-top: 16px;
        display: flex;
        flex-direction: column;

        & input {
            width: 318px;
            height: 52px;
            border-radius: 4px;
            border: 1px solid $emailInputBorder;
            font-family: 'Inter';
            font-size: 16px;
            color: $emailInputColor;
            text-align: center;
        }

        & button {
            margin-top: 8px;
            width: 318px;
            height: 52px;
            background-color: $freeMainButton;
            border-radius: 4px;
            border: 1px solid $freeMainButton;
            font-family: 'Inter';
            font-size: 16px;
            font-weight: 500;
            color: $whiteColor;
            text-align: center;
            cursor: pointer;
        }
    }

    & &__image {
        margin-top: 32px;
        width: 384px;
        height: auto;
    }

    & &__box {
        margin: 57px auto;
        width: 100%;

        & p {
            font-family: 'Inter';
            font-size: 11px;
            text-transform: uppercase;
            text-align: center;
    
            & span {
                font-weight: bold;
            }
        }

        & nav {
            margin: 16px 49px 0 49px;

            & ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                & li:nth-child(9) {
                    display: none;
                }

                & li:nth-of-type(even) {
                    display: none;
                }

                & img {
                    width: 56px;
                    height: auto;
                }
            }
        }
    }

    @media screen and (min-width: 1023px) {
        background: $whiteColor;

        & &__links {
            margin-top: 0;
    
            & :first-child {
                display: inline;
                font-family: 'Inter';
                font-size: 13px;
                color: $whiteColor;
                background-color: $saveButton;
                padding: 4px 16px;
                border: 1px solid $saveButton;
                border-radius: 100px;
                cursor: pointer;
                position: relative;
                left: 10px;
            }
    
            & :last-child {
                font-family: 'Inter';
                font-size: 13px;
                color: $primaryColor;
                background-color: $getAccButton;
                padding: 4px 16px;
                border: 1px solid $getAccButton;
                border-radius: 0 100px 100px 0;
                cursor: pointer;
            }
        }
    
        & &__title {
            margin-top: 24px;
            text-align: center;
            width: 760px;
    
            & h1 {
                margin: 0 auto;
                font-family: 'Inter';
                color: $primaryColor;
                font-size: $bigTitleDSize;
                line-height: 72px;
            }
    
            & p {
                margin: 24px auto 0 auto;
                width: 510px;
                font-family: 'Inter';
                color: $secondaryColor;
                font-size: $primarySize;
            }
        }
    
        & &__email {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
    
            & input {
                width: 319px;
                height: 52px;
                border-radius: 4px 0 0 4px;
                border: 1px solid $emailInputBorder;
                font-family: 'Inter';
                font-size: 16px;
                color: $emailInputColor;
                text-align: left;
                padding-left: 24px;
            }
    
            & button {
                margin-top: 0px;
                width: 164px;
                height: 52px;
                background-color: $emailButton;
                border-radius: 0 4px 4px 0;
                border: 1px solid $emailButton;
                font-family: 'Inter';
                font-size: 16px;
                color: $whiteColor;
                text-align: center;
                cursor: pointer;
            }
        }
    
        & &__image {
            margin-top: 48px;
            width: 920px;
            height: auto;
        }
    
        & &__box {
            margin: 101px auto;
            width: 100%;
    
            & p {
                font-family: 'Inter';
                font-size: $primarySize;
                text-transform: uppercase;
                text-align: center;
        
                & span {
                    font-weight: bold;
                }
            }
    
            & nav {
                margin: 26px 251px 0 251px;
    
                & ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    
                    & li:nth-child(9) {
                        display: block;
                    }
    
                    & li:nth-of-type(even) {
                        display: none;
                    }
    
                    & img {
                        width: 80px;
                        height: auto;
                    }
                }
            }
        }
    }
}

// section 1 end





// section 2 start
.product {
    background-color: $primaryBackground;
    border: 1px solid $secondaryBackground;
    padding-top: 33px;
    width: 100%;

    & img {
        display: block;
        width: 384px;
        height: auto;
        margin: 0 auto;
    }

    &__details {
        margin-top: 33px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--cards {
            width: 384px;
            border-bottom: 1px solid $secondaryBackground;
            text-align: center;

            &:first-child {
                background-color: $hoverBackground;
                border-radius: 10px 10px 0 0;
                border-bottom: 8px solid $purpleColor;
            }

            &:last-child {
                border-bottom: none;
            }

            & h3 {
                margin-top: 18px;
                font-size: $subTitleDSize;
                color: $primaryColor;
                font-family: 'Inter';
                font-weight: 600;
            }
    
            & p {
                margin: 10px auto 0 auto;
                font-size: $primarySize;
                color: $secondaryColor;
                margin-bottom: 26px;
                width: 308px;
                font-family: 'Inter';
                text-align: center;
                line-height: 24px;
            }
        }        
    }

    @media screen and (min-width: 1023px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 61px 0;
        border: 1px solid $secondaryBackground;
    
        & img {
            width: 657px;
            height: auto;
            margin: 0;
        }

        &__details {
            margin: 0;

            &--cards {
                width: 372px;
                height: 128px;
                text-align: left;
                padding-left: 32px;
            
                &:first-child {
                    border-radius: 0 10px 10px 0;
                    border-left: 8px solid $purpleColor;
                    border-bottom: none;
                }
    
                & h3 {
                    margin-top: 26px;
                }
        
                & p {
                    margin: 10px 0 26px 0;
                    text-align: left;
                }
            }
        }


    }
} 
// section 2 end


// section 3 start
.feature {
    margin: 56px auto;

    & &__title {
        font-size: $subTitleDSize;
        font-family: 'Inter';
        color: $primaryColor;
        text-align: center;
        font-weight: 600;
    }

    & &__container {
        display: flex;
        flex-direction: column;

        &--box {
            display: flex;
            flex-direction: column;
            align-items: center;

            & img {
                margin-top: 40px;
                width: 48px;
                height: auto;
            }

            & h3 {
                margin-top: 16px;
                font-family: 'Inter';
                font-size: $subTitleDSize;
                color: $primaryColor;
                font-weight: 600;
            }

            & p {
                margin-top: 8px;
                width: 320px;
                font-family: 'Inter';
                font-size: $primarySize;
                color: $secondaryColor;
                text-align: center;
                line-height: 24px;
            }

            &:nth-of-type(1n+4) {
                display: none;
            }
        }  
        
        & button {
            margin: 40px auto 0 auto;
            font-family: 'Inter';
            font-size: $primarySize;
            color: $purpleColor;
            background-color: $freeNavButton;
            border: 1px solid $freeNavButton;
            border-radius: 4px;
            padding: 18px 0;
            width: 318px;
            font-weight: 500;
            cursor: pointer;
        }
    }

    @media screen and (min-width: 1023px) {
        margin: 100px auto;

        & &__title {
            font-size: $mediumTitleDSize;
        }

        & &__container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 56px 167px 0 167px;
        
            &--box {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
    
                & img {
                    margin-top: 0;
                    width: 64px;
                    height: auto;
                    text-align: left;
                }
    
                & h3 {
                    margin-top: 16px;
                    font-family: 'Inter';
                    font-size: $subTitleDSize;
                    color: $primaryColor;
                    font-weight: 600;
                }
    
                & p {
                    margin-top: 8px;
                    width: 320px;
                    font-family: 'Inter';
                    font-size: $primarySize;
                    color: $secondaryColor;
                    text-align: left;
                    line-height: 24px;
                }

                &:nth-of-type(1n+4) {
                    display: flex;
                    margin-top: 80px;
                }
            }

            & button {
                display: none;
            }
        }
    }
}

// section 3 end


// section 4 start
.teams {
    background-color: $primaryBackground;
    border: 1px solid $secondaryBackground;
    padding: 32px 0;

    & img {
        display: block;
        width: 384px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    & &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        & h2 {
            margin-top: 27px;
            width: 156px;
            font-family: 'Inter';
            font-size: $subTitleDSize;
            color: $primaryColor;
            text-align: center;
            line-height: 24px;
            font-weight: 600;
        }

        & p {
            margin-top: 16px;
            width: 322px;
            font-family: 'Inter';
            font-size: $primarySize;
            color: $secondaryColor;
            text-align: center;
            line-height: 24px;
        }

        & button {
            margin-top: 16px;
            font-family: 'Inter';
            font-size: $primarySize;
            color: $whiteColor;
            background-color: $appsBackground;
            border: 1px solid $freeNavButton;
            border-radius: 4px;
            padding: 18px 0;
            width: 318px;
            font-weight: 500;
            cursor: pointer;
        }
    }

    @media screen and (min-width: 1023px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        margin: 67px auto;

        & img {
            display: block;
            width: 596px;
            height: auto;
        }
    
        & &__text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            margin: 0 auto;
    
            & h2 {
                width: 341px;
                font-size: $mediumTitleDSize;
                color: $primaryColor;
                text-align: left;
                line-height: 48px;
            }
    
            & p {
                width: 413px;
                text-align: left;
            }
    
            & button {
                width: 164px;
            }
        }
    }
}


// section 4 end


// section 5 start
.customers {
    margin: 56px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__title {
        font-family: 'Inter';
        font-size: $subTitleDSize;
        color: $primaryColor;
        font-weight: 600;
        line-height: 24px;
        width: 250px;
        text-align: center;
    }

    &__text {
        margin-top: 40px;
        font-family: 'Inter';
        font-size: $primarySize;
        color: $secondaryColor;
        text-align: center;
        width: 336px;
        line-height: 32px;
    }

    &__container {
        margin-top: 40px;

        &--people {
            display: flex;
            flex-direction: column;
            align-items: center;

            & img {
                width: 48px;
                height: auto;
            }

            & div {
                display: flex;
                flex-direction: column;
                align-items: center;
                

                & h4 {
                    margin-top: 9px;
                    font-family: 'Inter';
                    font-size: 13px;
                    font-weight: 600;
                }
    
                & p {
                    margin-top: 8px;
                    font-family: 'Inter';
                    font-size: 13px;
                }
            }

            &:nth-of-type(1n+2) { 
                display: none;
            }
        }
    }

    @media screen and (min-width: 1023px) {
        margin: 100px auto;
    
        &__title {
            font-size: $mediumTitleDSize;
            line-height: 48px;
            width: 394px;
        }

        &__text {
            margin-top: 40px;
            font-size: $subTitleDSize;
            width: 478px;
            line-height: 32px;
        }
    
        &__container {
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            
            &--people {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                padding-top: 24px;

                &:first-child {
                    border-top: 4px solid $blackColor;
                }
    
                & img {
                    width: 48px;
                    height: auto;
                    margin-right: 16px;
                }

                & div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-around;
                    height: 48px;

                    & h4 {
                        margin-top: 0;
                        font-size: $primarySize;
                    }
        
                    & p {
                        margin-top: 0;
                        font-size: $primarySize;
                    }
                }

                &:nth-of-type(1n+2) { 
                    display: flex;
                }
            }
        }  
    }
}


// section 5 end


// section 6 start
.lastbanner {
    width: 100%;
    height: 292px;
    margin: 0 auto;
    background-color: $appsBackground;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    & h2 {
        width: 322px;
        font-family: 'Inter';
        font-size: 24px;
        color: $whiteColor;
        font-weight: 600;
        line-height: 32px;
        text-align: center;
    }

    & &__apps {
        display: flex;
        flex-direction: column;

        & img {
            width: 180px;
            height: auto;
            margin: 5px 0 5px 0;
        }
    }

    @media screen and (min-width: 1023px) {
        width: 1110px;
        height: 224px;
        margin: 100px auto;
        border-radius: 16px;
        flex-direction: row;

        & h2 {
            width: 423px;
            font-size: 30px;
            text-align: left;
        }
    
        & &__apps {
            display: flex;
            flex-direction: row;
            align-items: center;
    
            & img {
                width: 180px;
                height: auto;
                margin-right: 25px;
            }
        }
    }
}
// section 6 end