@import '../components/fonts';
@import '../components/mixins';
@import '../components/variables';


.footer {
    background-color: $footerBackground;

    & &__section {
        padding: 48px 46px 57px 46px;
        
    }

    @media screen and (min-width: 1023px) {

        & &__section {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-top: 80px;
        }
    }
}

.footermenu{
    display: flex;

    & &__summary{
        
        & p {
            color: $whiteColor;
            margin-bottom: 32px;
        }

        & a {
            color: $whiteColor;
            display: none;
        }
    }

    & &__apps {
        & p {
            color: $whiteColor;
            margin-bottom: 16px;
        }

        & a {

            & img {
                width: 168px;
                height: auto;
                margin-bottom: 17px;
            }
        }
    }

    @media screen and (min-width: 1023px) {
        
        & &__summary {

            & p {
                font-family: 'Inter';
                font-weight: bold;
                margin-bottom: 24px;
            }

            & a {
                display: block;
                font-family: 'Inter';
                margin-bottom: 24px;
            }
        }

        & &__apps {

            & p {
                margin-bottom: 24px;
                font-weight: 600;
            }

            & a {
                margin: 0 0 0 16px;

                & img {
                    width: 180px;
                    height: auto;
                }
            }
        }
    }
}

hr {
    opacity: 0.1;
}


.copyright {
    display: flex;
    justify-content: space-between;

    & &__text {
        color: $copyColor;
        padding: 32px 47px;
    }

    & &__socialmedia {
        display: none;
    }

    @media screen and (min-width: 1023px) {
        justify-content: space-around;
        flex-direction: row;

        & &__text {
        }

        & &__socialmedia {
            display: flex;
            flex-direction: row;
            align-items: center;

            & a {
                margin-left: 24px;
                height: 32px;
                width: 32px;
            }
        }
    }
}