@import '../components/fonts';
@import '../components/mixins';
@import '../components/variables';


.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 15px;
    background-color: $primaryBackground;

    & &__title {
        font-family: 'Josefin Sans';
        font-weight: 500;

        & a {
            color: $blackColor;
            font-size: $logoMobSize;
        
            & span {
                color : $purpleColor
            }
        }
    }

    & &__links {
        display: none;
    }

    & &__button {
        display: none;
    }

    & &__hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & img {
            width: 24px;
            height: 16px;
            margin-bottom: 8px;
            cursor: pointer;
        }

        & p {
            text-transform: uppercase;
            font-size: $menuSize;
        }

        @media screen and (min-width: 1023px) {
            display: none;
        }
    }

    @media screen and (min-width: 1023px) {
        margin: 48px 165px;
        background-color: $whiteColor;
        
        & &__links {
            display: flex;
            flex-direction: row;

            & li {
                margin: 0 20px;

                & a {
                    text-transform: capitalize;
                    color: $blackColor;
                }
            }
        }

        & &__button {
            display: flex;
            flex-direction: row;

            & :first-child {
                background-color: $whiteColor;
                border: none;
                margin-right: 16px;
                cursor: pointer;
            }

            & :last-child {
                background-color: $freeNavButton;
                color: $purpleColor;
                border: 1px solid $freeNavButton;
                border-radius: 4px;
                padding: 16px 24px;
                cursor: pointer;
            }
        }

        & &__hamburger {
            display: none;
        }
    }
}