// Color Text

$blackColor : #000;
$whiteColor : #fff;
$purpleColor : #794cff;
$copyColor : #d9dbe1;
$primaryColor : #35414b;
$secondaryColor : #4e5a65;
$emailInputColor : #97a5b5;



// Background color 

$secondaryBackground :#f0ebfa;
$primaryBackground : #fbfafe;
$hoverBackground : #f6f3fc;
$appsBackground : #796eff;
$footerBackground : #1d2830;
$linearBackground : linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(251,250,254,1) 50%, rgba(251,250,254,1) 100%);




// Button color 

$freeNavButton : #ece5ff;
$freeMainButton : #796eff;
$emailButton : #794cff;
$saveButton : #81c43b;
$getAccButton : #f2f9eb;

// border color
$emailInputBorder : #e1e5ea;


// Text Size
$primarySize : 16px;
$menuSize : 8px;
$copySize : 14px;
$logoDeskSize : 24px;
$bigTitleDSize : 63px;
$mediumTitleDSize : 40px;
$smallTitleDSize : 32px;
$subTitleDSize : 18px;

$logoMobSize : 20px;